{% extends "base.html" %}
<div class="searchbox">
	<h2><b>Get Your Best Price Here</b></h2>

	<form>
		<input type="text" placeholder="Search Here..." name="InputItem">
		<select>
			<option>Electronics</option>
			<option>Fashion</option>
			<option>Home & Furniture</option>
			<option>TVs & Appliances</option>
			<option>Toys & Baby</option>
			<option>Beauty & Personal Care</option>
			<option>Sports, Books and More</option>
			<option>Grocery</option>
		</select>
		<input type="submit" value="Search">
	</form>
	
</div>